<div class = "container">
   <h1 class="text-center">Your epic trip</h1>
   
    <div class="list">
       <ul class = "list-unstyled">
          <% @trips.each do |trip| %>
           <li class="product">
             <div>
               <%= image_tag "3.jpg", height: 200, width: 300%>
             </div>
             <div class="product-title truncate"> 
               <%= link_to trip.title, trip_path(trip), class: "trip-title" %><br>
               <%= trip.details %>
             </div>
             <ul class="list-inline product-controls">
              <a href="#"><i class="fa fa-heart"></i></a>
              <a href="#"><i class="fa fa-bookmark"></i></a>
             </ul>             
           </li>
           <% end %>
        </ul>
     </div>
    <div text-align-left>
      <%= link_to "add new trip", new_trip_path, class: "btn btn-sm btn-outline-primary" %>
    <div>
</div>
<div class="footer"></div>
