<div class = "hero image">
    <h1>Your epic trip</h1>
      <!--<h2>Hero image<h2>-->
</div>
<div class="cards">
   <ul style = 'display: in-line;'>
     <% @trips.each do |trip| %>
    <li>
       <%= link_to trip.title, trip_path(trip) %>
    </li>  
        <% end %>
    </ul>
</div>
<div>
   <%= link_to "add new trip", new_trip_path, class: "btn btn-sm btn-outline-primary" %>
<div>
<div class="footer"></div>