// Import page-specific CSS files here.
@import "home";

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease;
  border-radius: 3px;
  text-decoration: none;

  link_to {
    text-decoration: none;
    color:rgb(0, 0, 0);
  }

}

.product:hover {
  background: rgba(247, 239, 239, 0.808);
  color:rgb(0, 0, 0);
}

.product-image {
  width: 200px;
  border-radius: 5px;
}
/*
.product:hover .product-upvote {
  font-size: 25px;
}

.product-upvote {
  font-size: 20px;
  padding: 20px;
  transition: all 0.3s ease;
}
*/
.product-title {
  flex: 1 0 auto;
  padding: 20px;
  text-decoration: none;
}

.product-controls a {
  font-size: 15px;
  color: #CCCCCC;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
