<div class="container page">
  <h1 class="header">Your bookings</h1>

  <ul class="list">
    <% @bookings.each do |booking| %>
      <li><%= link_to booking.trip.title, booking_path(booking.id) %></li>
        <%= link_to 'Cancel booking', booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-principal btn-margin-top" %>
    <% end %>
  </ul>

  <%= link_to 'Go back to the lists', trips_path,class: "btn btn-secondary btn-delete btn-go" %>
</div>
