@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
.header-first {
  text-align: center;
  font-size: 50px;
  font-family: 'Gowun Batang', serif;
  padding: 5px;
  color: #2B3946;
  font-weight: bold;
}

.header-second {
  margin-top: 23px;
  margin-bottom: 34px;
  border: 2px solid #A7BEA9;
  text-align: center;
  .h2 {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
  }
}
